<div class="text-center text-primary mt-5" style="font-size: xx-large; font-weight: 600;">Youtube to Mp3 Api</div>
{{#if Title}}
<div class="text-center text-primary mt-5" style="font-size: x-large; font-weight: 600;"><span
        class="text-danger">{{Title}}</span></div>
{{else}}
<div class="text-center text-primary mt-5" style="font-size: x-large; font-weight: 600;"><span
        class="text-danger">Change Password</span></div>

{{/if}}

<div class="login-form">
    <form method="post">
        {{#if NoToken}}
        <h5 class="text-center">Enter Old Password</h5>
        <input type="hidden" name="NoToken" value="true">
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Old Password" required="required" name="OldPass"
                value="{{OldPass}}">
        </div>
        {{/if}}
        <h5 class="text-center">Enter New Password</h5>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="New Password" required="required" name="pass">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm Password" required="required"
                name="confirmpass" onkeyup="CheckPass()">
        </div>

        {{#if Err}}
        <div class="form-group">
            <div class="text text-danger" style="font-size: 15;">* {{Err}}</div>
        </div>
        {{/if}}
        {{#if Scs}}
        <div class="form-group">
            <div class="text text-success" style="font-size: 15;">* {{Scs}}</div>
        </div>
        {{/if}}
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" id="submit" disabled>Change Password</button>
        </div>
    </form>
</div>


<script>
    function CheckPass() {
        var x = document.querySelector('input[name=confirmpass]').value;
        var y = document.querySelector('input[name=pass]').value;
        var z =
            document.getElementById('submit').disabled = (x && x === y) ? false : true;
    }
</script>